<app-header></app-header>
<div class=" mx-auto ">
    <div class="bg-white p-3 mb-4">
      <div class="flex items-center text-gray-500 mb-2">
        <div class="flex mr-2">
          <button>
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>
          <button>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>  
        <a class="text-base text-gray-800">{{ post?.title }}</a>
      </div>
      <div class="flex items-center text-gray-500 mb-2">
        <div class="ml-1 mr-1">{{post?.score}} points |</div>
        <div class="mr-1">by {{post?.authorUsername}} 3 hours ago |</div>
        <a href="#" class="text-gray-500 hover:text-gray-700">{{post?.descendants}} comments</a>
      </div>
      <div class="text-gray-700 text-sm mb-2">
        <p>
          {{post?.description}}
        </p>
      </div>
       <app-comment-form></app-comment-form>
    </div>
    <app-comment></app-comment>
  </div>
  <app-footer></app-footer>
  