<div class="container mx-auto my-4 p-4 bg-white rounded-md shadow-md">
  <div class="flex flex-col md:flex-row md:items-center mb-4">
    <div class="md:mr-4 mb-4 md:mb-0">
        <div class="bg-gray-200 rounded-full w-28 h-28 text-3xl flex items-center justify-center">HN</div>
    </div>
    <div>
      <h2 class="text-gray-800 text-xl font-medium"> 
        {{user?.fullName}}
      </h2>
      <p class="text-gray-600 text-sm">Joined: April 1, 2022</p>
      <p class="text-gray-600 text-sm">{{user?.karma}}</p>
    </div>
  </div>

  <!-- User's Posts -->
  <h3 class="text-gray-800 text-lg font-medium mb-4">User's Posts:</h3>

  <ul>
    <li class="mb-4">
      <a href="#" class="text-gray-800 hover:text-blue-600">Post Title</a>
      <p class="text-gray-600 text-sm">Submitted: April 1, 2022</p>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec
        faucibus enim. Maecenas vel sapien eleifend, placerat nulla sit amet,
        facilisis metus.
      </p>
    </li>
    <li class="mb-4">
      <a href="#" class="text-gray-800 hover:text-blue-600">Post Title</a>
      <p class="text-gray-600 text-sm">Submitted: April 1, 2022</p>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec
        faucibus enim. Maecenas vel sapien eleifend, placerat nulla sit amet,
        facilisis metus.
      </p>
    </li>
    <li class="mb-4">
      <a href="#" class="text-gray-800 hover:text-blue-600">Post Title</a>
      <p class="text-gray-600 text-sm">Submitted: April 1, 2022</p>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec
        faucibus enim. Maecenas vel sapien eleifend, placerat nulla sit amet,
        facilisis metus.
      </p>
    </li>
  </ul>
</div>
